@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
header{
    height: 15vh;
    padding-top: 25px;

    .navbar{
        &__logo{
            cursor: pointer;
        }
        &__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 800px;
            select{
                border: none;
                background-color: transparent;
                outline: none;
                background-color: #EB3F57;
                color: #fff;
                padding: 5px;
                border-radius: 10px;
                option{
                    color: #fff;
                }
            }
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                    color: #000000;
                    &:hover{
                        transition: all 0.5s ease;
                        color: #EB3F57;
                    }
                }

            }
        }
    }
}